body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.flashcard-container {
    perspective: 1000px;
}

.flashcard {
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.front,
.back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    background-color: #ffffff;
}

.back {
    background-color: #4caf50;
    color: #ffffff;
    transform: rotateY(180deg);
}
